.homepage-img{

  width: 100%;         /* Make the image responsive */
  height: auto; 
}

.img-container{


   position: relative;
  /* To position the text on top of the image */
  width: 100%;        /* Make the container take up full width */

  margin: 0 auto;
}
.home-text-2{

position: absolute;    /* Position the text absolutely over the image */
  top: 50%;              /* Center vertically */
  left: 50%;             /* Center horizontally */
  transform: translate(-50%, 10%); /* Adjust position to be exactly centered */
  color: grey;          /* Text color */
  text-align: center;    /* Center the text */
  /* background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */ 
  padding: 20px;         /* Padding around the text */
  border-radius: 10px;
  font-size:25px
}
.home-text-1{

position: absolute;    /* Position the text absolutely over the image */
  top: 50%;              /* Center vertically */
  left: 50%;             /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to be exactly centered */
  color: grey;          /* Text color */
  text-align: center;    /* Center the text */
  /* background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */ 
  padding: 20px;         /* Padding around the text */
  border-radius: 10px
}
.home-text-3{

position: absolute;    /* Position the text absolutely over the image */
  top: 50%;              /* Center vertically */
  left: 50%;             /* Center horizontally */
  transform: translate(-50%, 150%); /* Adjust position to be exactly centered */
          /* Text color */
  text-align: center;    /* Center the text */
  /* background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */ 
  padding: 20px;         /* Padding around the text */
  border-radius: 10px;
  font-size:25px;
font-weight: bold;
  color:red;


}
